<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.orangeapi.warsawcitigame" >

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.CitiGameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.MainMenuActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.UndevelopedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.ConfigureNewGameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.GameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.NewGameActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="pl.orangeapi.warsawcitygame.utils.GPSService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name="pl.orangeapi.warsawcitygame.layout.ScoreActivity"
            android:label="@string/title_activity_score"
            android:theme="@style/AppTheme.NoActionBar" >
        </activity>
    </application>

</manifest>
